__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/

build/
dist/
*.log

slides/*.aux
slides/*.log
slides/*.nav
slides/*.out
slides/*.pdf
slides/*.snm
slides/*.toc
slides/*.vrb
slides/*.fdb_latexmk
slides/*.fls
slides/*.synctex.gz

runs/
data/generated/
